{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcart</th>
                <td>{{ cart.idcart }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ cart.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cart_index') }}">back to list</a>

    <a href="{{ path('cart_edit', {'idcart': cart.idcart}) }}">edit</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
