{% extends 'baseBack.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <h1>Oeuvre index</h1>
        <div class="col-md-4 col-sm-5">
            <div class="filter-form">
                <for class="input-group">
                    <form class="w-search">
                        <div class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" id="search" class="form-control" placeholder="Search">
                            </div>
                        </div>
                      </form>
                </for>
            </div>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id Oeuvre</th>
                <th>Nom Oeuvre</th>
                <th>Prix Oeuvre</th>
                <th>Date d'ajout</th>
                <th>Image Oeuvre</th>
                <th>Nom catégorie</th>
                <th>Email artiste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody  id="all">
        {% include 'oeuvre/ajax.html.twig' %}
        </tbody>
    </table>

    <a href="{{ path('oeuvre_new') }}">Create new</a>
    <a href="{{ path('pdfOEUVRE') }}">Create PDF</a>
    <a href="{{ path('stat') }}">Create Statistique</a>
{% endblock %}
{%  block javascript2 %}

    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                currentRequest = $.ajax({

                    url : "{{ path('ajaxsearch') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
    </script>

    {% endblock %}

