{% block body %}

<h2 >Liste des Oeuvres</h2>



<table  >
    <thead>
    <tr>
        <th>Nom Oeuvre </th>
        <th>Prix Oeuvre</th>
        <th>Date Oeuvre</th>
        <th>Image Oeuvre</th>
        <th>Email </th>



    </tr>
    </thead>
    {% for oeuvre in oeuvres %}
        <tr>

            <td>{{ oeuvre.nomoeuvre }}</td>
            <td>{{ oeuvre.prixoeuvre }}</td>
            <td>{{ oeuvre.dateoeuvre ? oeuvre.dateoeuvre|date('Y-m-d') : '' }}</td>
            <td>{{ oeuvre.imageoeuvre }}</td>
            <td>{{ oeuvre.emailartiste }}</td>

        </tr>

    {% endfor %}


</table>


{% endblock %}