{% extends 'baseBack.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>
    <div>
        <input type="text" id="search" class="form-control" placeholder="Search">
    </div>
    <table class="table" id="t">
        <thead>
            <tr>
                <th>IdReservation</th>
                <th>NomClient</th>
                <th>PrenomClient</th>
                <th>Matricule</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Cautionnement</th>
                <th>PrixTotal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">

        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idReservation }}</td>
                <td>{{ reservation.getIdclient.getNom() }}</td>
                <td>{{ reservation.getIdclient.getPrenom() }}</td>
                <td>{{ reservation.getMatricule.getIdEndroit() }}</td>
                <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.cautionnement }}</td>
                <td>{{ reservation.prixTotal }}</td>

                <td>
                    <a href="{{ path('reservation_show', {'idReservation': reservation.idReservation}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'idReservation': reservation.idReservation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





{% endblock %}
 {% block javascripts %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
     </script>
     <script>
         $( document ).ready(function() {
             $("#search").keyup(function(e){
                 /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                 var value = $(this).val();
                 /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                 $.ajax({
                     /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                     url : "{{ path('rechercheReservation') }}",
                     /* La méthode utilisée pour transférer les données est GET */
                     type : 'GET',
                     /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                     data: {
                         'searchValue' : value
                     },
                     /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                     success : function(retour){
                         if(retour){
                             $('#t tbody#search').empty();
                             $.each(JSON.parse(retour), function(i, obj) {
                                 $('#t tbody#all').hide();
                                 $('#t tbody#search').append(' <tr><td> '+obj.idReservation+'  </td><td>    '+obj.matricule.idmatricule+'  </td><td>    '+obj.dateDebut+'  </td><td>'+obj.dateFin+' </td><td>'+obj.Cautionnement+' </td><td>'+obj.prix_total+' </td><a href="showBack/'+obj.idReservation+'">show</a></td><td><a href="editBack/'+obj.idReservation+'">edit</a></td> ');
                             });
                         }
                         else
                         {
                             $('#t tbody#all').show();
                             $('#t tbody#search').empty();
                             $('#t tbody#search').fadeIn('fast');
                         }
                     },
                 });
                 return false;
             });
         });
     </script>
 {% endblock %}
