{% extends 'base.html.twig' %}

{% block title %}Les expositions{% endblock %}

{% block body %}

  {#  <h1>Les expositions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code Exposition</th>
                <th>Nom Exposition</th>
                <th>Thème de l'exposition</th>
                <th>Date Exposition</th>
                <th>Nombre max de participants</th>
                <th>Nom de l'artiste</th>
                <th>l'identifiant de l'espace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exposition in expositions %}
            <tr>
                <td>{{ exposition.codeExpo }}</td>
                <td>{{ exposition.nomExpo }}</td>
                <td>{{ exposition.themeExpo }}</td>
                <td>{{ exposition.dateExpo ? exposition.dateExpo|date('Y-m-d') : '' }}</td>
                <td>{{ exposition.nbMaxParticipant }}</td>
                <td>{{ exposition.codeArtiste.nom }}</td>
                <td>{{ exposition.codeEspace.idEndroit }}</td>

                    <th>
                  <a href="{{ path('exposition_show', {'codeExpo': exposition.codeExpo}) }}">Afficher</a>
                  <a href="{{ path('exposition_edit', {'codeExpo': exposition.codeExpo}) }}">Modifier</a>
                   </th>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  href="{{ path('exposition_new') }}">Créer une nouvelle exposition</a>
    <div class="pagination">
        {{ knp_pagination_render(expositions) }}
    </div>
{% endblock %}
#}
<section class="item content" xmlns="http://www.w3.org/1999/html">
    <div class="container toparea" >
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Expositions</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div>
            <input type="text" id="search" class="form-control" placeholder="Search">
        </div>
        <br>
        {% for exposition in expositions %}

        <div class="row" >
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">

                            <h3>{{ exposition.nomExpo }}</h3>
                            <p>
                                {{ exposition.dateExpo ? exposition.dateExpo|date('Y-m-d') : '' }}
                            </p>
                            <p>
                            <form id="id" class="edd_form" action="<  {{ path('exposition_show', {'codeExpo': exposition.codeExpo}) }}" method="POST">

                                <input type="hidden" name="edd_action" value={{ exposition.codeExpo  }}>
                                <a href="{{ path('exposition_show', {'codeExpo': exposition.codeExpo}) }}" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> show</a>


                                {%  if app.user %}
                                    <div>

                                        <a class="learn-more detailslearn" href="{{ path('reservation_expo_new' , {'codeExpo': exposition.codeExpo})}}">Make a reservation  </a>

                                    </div>
                                {% endif %}

                            </form>

                            </p>
                        </div>
                        <span class="maxproduct"><img height="500" width="500"  src="{{ asset('Front/GFX/a.png') }}" alt=""></span>
                    </div>
                    <div class="product-details">
                        <br>
                        <a href="{{ path('exposition_show', {'codeExpo': exposition.codeExpo}) }}">{{ exposition.nomExpo }}

                            <h1>{{ exposition.dateExpo ? exposition.dateExpo|date('Y-m-d') : '' }} <br> </h1>

                        </a>

                        <br>
                        <span class="price">
					    <span class="edd_price">{{ exposition.themeExpo }} </span>

					    </span>
                    </br>
                        <span class="price">
					    <span class="edd_price">{{ exposition.nbMaxParticipant }} </span>

					    </span>



                    </div>
                </div>

            </div>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
        </div>

    </div>
    </div>
    <a href="{{ path('exposition_new') }}">Create new</a>
    {% if app.user%}
        <a class="btn btn-dark" href="{{ path('reservation_expo_index') }}">View Reservations</a>
    {% endif %}
    <div class="pagination">
        {{ knp_pagination_render(expositions) }}
    </div>
</section>

{% endblock %}
