{% extends 'baseBack.html.twig' %}



{% block title %}Exposition{% endblock %}

{% block body %}
<div class="container">
    <h1>Exposition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Code de l'exposition</th>
                <td>{{ exposition.codeExpo }}</td>
            </tr>
            <tr>
                <th>Nom de l'exposition</th>
                <td>{{ exposition.nomExpo }}</td>
            </tr>
            <tr>
                <th>Thème de l'exposition</th>
                <td>{{ exposition.themeExpo }}</td>
            </tr>
            <tr>
                <th>Date de l'exposition</th>
                <td>{{ exposition.dateExpo ? exposition.dateExpo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre Max de participants</th>
                <td>{{ exposition.nbMaxParticipant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exposition_indexBack') }}">back to list</a>

    <a href="{{ path('exposition_editBack', {'codeExpo': exposition.codeExpo}) }}">Modifier</a>

    {{ include('exposition/_delete_formBack.html.twig') }}
</div>
{% endblock %}
