{% extends 'base.html.twig' %}
{% block oeuvre %} {% include 'oeuvre.php' %} {% endblock %}

{% block title %}Exposition{% endblock %}

{% block body %}
    </br>
<div class="container">
    <div class="underlined-title">
        <div class="editContent">
            <h1 class="text-center latestitems">Les réservations Exposition</h1>
        </div>
        <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
        </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Code de l'exposition</th>
                <td>{{ exposition.codeExpo }}</td>
            </tr>
            <tr>
                <th>Nom de l'exposition</th>
                <td>{{ exposition.nomExpo }}</td>
            </tr>
            <tr>
                <th>Thème de l'exposition</th>
                <td>{{ exposition.themeExpo }}</td>
            </tr>
            <tr>
                <th>Date de l'exposition</th>
                <td>{{ exposition.dateExpo ? exposition.dateExpo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre Max de participants</th>
                <td>{{ exposition.nbMaxParticipant }}</td>
            </tr>
        </tbody>
    </table>




        </br>



    <section class="item content">
        <div class="container toparea">
            <div class="underlined-title">
                <div class="editContent">
                    <h1 class="text-center latestitems">Les oeuvres de l'exposition</h1>
                </div>
                <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
                </div>
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-check-circle-o mr-2" aria-hidden="true"></i>{{ message }}
                </div>
            {% endfor %}
            {% for oeuvre in oeuvres %}

            <div class="row">
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">

                                <h3>{{ oeuvre.nomoeuvre }}</h3>

                                <p>
                                <form id="id" class="edd_form" action="<  {{ path('cart_new', {'idOeuvre': oeuvre.idOeuvre}) }}" method="POST">

                                    <input type="hidden" name="edd_action" value={{ oeuvre.idOeuvre  }}>
                                    <a href="{{ path('cart_new', {'idOeuvre': oeuvre.idOeuvre}) }}" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                </form>

                                </p>
                            </div>
                            <span class="maxproduct"><img height="500" width="500"  src="{{app.request.basepath}}/Front/GFX/{{oeuvre.imageoeuvre}}" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">exposition
                                <h1>{{ oeuvre.nomoeuvre }}</h1>
                            </a>
                            <span class="price">
					    <span class="edd_price">{{ oeuvre.prixoeuvre }} TND</span>

					    </span>

                        </div>
                    </div>

                </div>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
            </div>
            <div class="pagination">
                {{ knp_pagination_render(oeuvres) }}
            </div>
        </div>

    </section>

    <a href="{{ path('exposition_index') }}">back to list</a>

    <a href="{{ path('exposition_edit', {'codeExpo': exposition.codeExpo}) }}">Modifier</a>

    {{ include('exposition/_delete_form.html.twig') }}


</div>
</div>
{% endblock %}
