<div class="container" >
<table class="table" >
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>


        <td> <img height="200" width="200"  src="{{app.request.basepath}}/pi/{{reservationevent.codeEvent.image}}" alt="" ></td>
        <td> <img height="200" width="200"  src="{{app.request.basepath}}/qr-code/{{reservationevent.codeReservation}}.png" alt="" ></td>
    </tr>
</table>
    <br>
    <br>
<table class="table" >
    <tbody>
    <tr>
        <th>Reservation code : </th>
        <td>{{ reservationevent.codeReservation }}</td>
    </tr>
    <tr>
        <th>Event name : </th>
        <td>{{ reservationevent.codeEvent.nomEvent }}</td>
    </tr>
    <tr>
        <th>Client last name : </th>
        <td>{{ reservationevent.codeClient.nom }}</td>
    </tr>
    <tr>
        <th>Client name : </th>
        <td>{{ reservationevent.codeClient.prenom }}</td>
    </tr>
    <tr>
        <th>Phone number : </th>
        <td>{{ reservationevent.codeClient.numero }}</td>
    </tr>
    <tr>
        <th>Email : </th>
        <td>{{ reservationevent.codeClient.email }}</td>
    </tr>
    <tr>
        <th>Booked places : </th>
        <td>{{ reservationevent.nbPlace }}</td>
    </tr>
    </tbody>
</table>
</div>