{% extends 'base.html.twig' %}

{% block title %}Reservationevent{% endblock %}

{% block body %}
<div class="container">
    <h1 align="center">Reservation</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Reservation code</th>
            <td>{{ reservationevent.codeReservation }}</td>
        </tr>
        <tr>
            <th>Event name</th>
            <td>{{ reservationevent.codeEvent.nomEvent }}</td>
        </tr>
        <tr>
            <th>Client last name</th>
            <td>{{ reservationevent.codeClient.nom }}</td>
        </tr>
        <tr>
            <th>Client name</th>
            <td>{{ reservationevent.codeClient.prenom }}</td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td>{{ reservationevent.codeClient.numero }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ reservationevent.codeClient.email }}</td>
        </tr>
        <tr>
            <th>Booked places</th>
            <td>{{ reservationevent.nbPlace }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('reservationevent_index') }}">Back to list</a>

    <a class="btn btn-dark" href="{{ path('reservationevent_edit', {'codeReservation': reservationevent.codeReservation}) }}">Edit</a>

    <a class="btn btn-dark" href="{{ path('pdfR', {'codeReservation': reservationevent.codeReservation}) }}">PDF</a>

    {{ include('reservationevent/_delete_form.html.twig') }}
</div>
{% endblock %}
