{% extends 'baseBack.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                                                                       href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Innonumber</th>
                            <th>User</th>
                            <th>Orderdate</th>
                            <th>Status </th>
                            <th>Dueamount</th>
                            <th>Actions</th>
                            <th>Confirm</th>
                            <th>Cancel</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Innonumber</th>
                            <th>User</th>
                            <th>Orderdate</th>
                            <th>Status </th>
                            <th>Dueamount</th>
                            <th>Actions</th>
                            <th>Confirm</th>
                            <th>Cancel</th>

                        </tr>
                        </tfoot>
                        <tbody>
                        {% for order in orders %}
                        <tr>

                            <td> {{ order.innonumber }}</td>
                            <td>{{ order.iduser.nom }}  {{ order.iduser.prenom }}</td>
                            <td>{{ order.orderdate ? order.orderdate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.dueamount }}</td>
                            <td><a href="{{ path('pendingBack_orders_index', {'innonumber': order.innonumber}) }}">Show Details</a></td>
                            {% if order.status!="Confirmed" %}
                            <td><a href="{{ path('orders_confirm', {'orderid': order.orderid}) }}">Confirm</a></td>
                                {% else %}
                                    <td class="disabled">Confirm</td>

                            {% endif %}
                            {% if order.status!="Cancelled" %}
                            <td><a href="{{ path('orders_cancel', {'orderid': order.orderid}) }}">Cancel</a></td>
                                {% else %}
                                    <td class="disabled">Cancel</td>

                            {% endif %}


                        </tr>
                        {% else %}
                                  <tr>
              <td colspan="3">no records found</td>
                                </tr>
                                 {% endfor %}
                        </tbody>
                        <a class="btn btn-success" href="{{ path('generate_pdf') }}">Create pdf</a>
                        <a class="btn btn-warning" href="{{ path('orderbyDueAmountback') }}">Order By price</a>
                        <a class="btn btn-danger" href="{{ path('orderbyStatusPendingback') }}">Order By Pending</a>
                        <a class="btn btn-danger" href="{{ path('orderbyStatusCancelledback') }}">Order By Cancelled </a>
                        <a class="btn btn-danger" href="{{ path('orderbyStatusConfirmedback') }}">Order By Confirmed</a>
                        <a class="btn btn-dark" href="{{ path('statusStatsback') }}">status of orders</a>
                        <a class="btn btn-info" href="{{ path('barchart') }}">Most bought artworks</a>

                    </table>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
