{% block body %}
<h1>Orders</h1>
<table border="1" >
    <thead>
    <tr >

        <th >
            Innonumber
        </th>
        <th >
            User
        </th>
        <th >
            Orderdate
        </th>
        <th >
            Status
        </th>
        <th>
            Dueamount
        </th>

    </tr>
    </thead>
    <tbody>

    {% for order in orders %}

        <tr >
            <td>
                {{ order.innonumber }}
            </td>
            <td >
                <span > {{ order.iduser.nom }}  {{ order.iduser.prenom }}</span>
            </td>
            <td >
                {{ order.orderdate ? order.orderdate|date('Y-m-d H:i:s') : '' }}

            </td>
            <td >
                {{ order.status }}
            </td>
            <td >
                {{ order.dueamount }}
            </td>

        </tr>

    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>


</table>
{% endblock %}
