{% extends 'baseBack.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Catégories </h1>

    <table class="table">
        <thead>
        <tr>
            <th>id catégorie</th>
            <th>Type</th>
            <th>Description</th>
            <th>Nom catégorie</th>
            <th>Date d'ajout</th>
            <th>Nombre des oeuvre</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idCat }}</td>
                <td>{{ categorie.type }}</td>
                <td>{{ categorie.description }}</td>
                <td>{{ categorie.nomcat }}</td>
                <td>{{ categorie.datecat ? categorie.datecat|date('Y-m-d') : '' }}</td>
                <td>{{ categorie.nbreoeuvre }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'idCat': categorie.idCat}) }}">show</a>
                    <a href="{{ path('categorie_edit', {'idCat': categorie.idCat}) }}">edit
                        {{ include('categorie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Create new</a>
{% endblock %}
