{% extends 'baseBack.html.twig' %}

{% block title %}Les réservations Exposition{% endblock %}

{% block body %}
<div class="container-fluid">


      <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary -align-center">Exposition Reservations</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
    <table class="table" id="t">
        <thead>
        <input type="text" id="search" class="form-control" placeholder="Search">
            <tr>
                <th>Code Reservation</th>
                <th>Nom Client</th>
                <th>Prenom Client</th>
                <th>email Client</th>
                <th>Numero Client</th>
                <th>Nom Exposition</th>
                <th>Nombre de Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% for reservation_expo in reservation_expos %}
            <tr>
                <td>{{ reservation_expo.codeReservatione }}</td>
                <td>{{ reservation_expo.codeClient.nom}}</td>
                <td>{{ reservation_expo.codeClient.prenom}}</td>
                <td>{{ reservation_expo.codeClient.email}}</td>
                <td>{{ reservation_expo.codeClient.numero}}</td>
                <td>{{ reservation_expo.codeExpo.nomExpo}}</td>
                <td>{{ reservation_expo.nbPlace }}</td>
                <th>
                    <a href="{{ path('reservation_expo_showBack', {'codeReservatione': reservation_expo.codeReservatione}) }}">Afficher</a>
                    {{ include('reservation_expo/_delete_formBack.html.twig') }}
                </th>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        <tbody id="search">

        </tbody>
        </tbody>
    </table>


    <a class="btn btn-success" href="{{ path('pdf_aa') }}">Create pdf</a>
</div>
            </div>
      </div>
</div>
{% endblock %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('reservation_expo_searchReservationBack') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td> '+obj.codeReservatione+'  </td><td>   '+obj.codeClient.nom+'  </td><td>'+obj.codeClient.prenom+'  </td><td>'+obj.codeClient.email+'  </td><td>'+obj.codeClient.numero+'  </td><td>'+obj.codeExpo.nomExpo+'  </td><td>'+obj.nbPlace+'  </td><td><a href="reservation_expo_showBack/'+obj.codeReservatione+'">show</a></td></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>

{% endblock %}